html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -95px;
    padding: 0 0 95px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 95px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view td.wrappedColumn {
    white-space: normal;
    word-break: break-all;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.c-chat, .c-messages {
    height: calc(100vh - (240px));
}

.c-choice {
    margin: 0 10px;
    display: inline-block;
}

.c-table__cell {
    white-space: normal;
    word-wrap: break-word;
    padding: 15px 0 15px 15px;
    color: inherit;
}

.c-table__head--slim .c-table__cell {
    padding: 10px;
}

.c-pagination__item.is-active .c-pagination__link {
    background-color: lightgray;
}

.vertical-align-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.c-sidebar__link {
    padding: 10px 10px 10px 30px;
}

.modal-backdrop.fade {
    opacity: 0.9;
}

.navbar-brand > img {
    margin-top: -4px;
    display: inline-block;
}

.navbar-nav > li > a {
    margin-bottom: -2px;
}

.c-notification {
    margin-right: 0;
}

.c-notification__icon {
    font-size: 18px;
}

.c-notification__icon:hover,
li.active .c-notification__icon {
    color: #5b677a;
}

.c-notification__number {
    top: 5px;
    right: 5px;
    background-color: #ed1c24;
}

.c-login {
    top: 45%;
}

.side-finance-block {
    font-size: 0.7rem;
}

.c-table__cell {
    font-size: 0.65rem;
}

.c-state-card__icon {
    width: 50px;
    height: 50px;
}

@media (min-width: 376px) {
    .c-table__cell {
        font-size: 0.7rem;
    }
}

@media (min-width: 769px) {
    .side-finance-block {
        font-size: 0.8rem;
    }
}

@media (min-width: 1025px) {
    .side-finance-block {
        font-size: 1rem;
    }

    .c-table__cell {
        font-size: 0.9rem;
    }
}

.navbar-brand img {
    width: 85px;
    margin-top: -13px;
}

.c-login__brand {
    top: -44px;
    width: 170px;
}