.wrap > .container {
    padding: 0px 15px 20px;
}

@media (min-width: 1330px) {
    .container {
        width: 1330px;
    }
}

.footer {
    background-color: #ffffff;
}

.navbar-my {
    background-color: #ffffff;
    border: none;
    margin-bottom: 0px;
}

.navbar-my .navbar-nav > li > a {
    color: #337ab7;
}

.navbar-my .navbar-nav > .active > a,
.navbar-my .navbar-nav > .active > a:hover,
.navbar-my .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a {
    background: none;
}

.table {
    margin-bottom: 5px;
}

@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background-color: #f5f5f5;
    }
}